# Problem 1

In [1]:
import pandas as pd

cars = pd.read_csv("cars.csv")

print(cars.head())

               Model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
0          Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
1      Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
2         Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
3     Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
4  Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3

   carb
0     4
1     4
2     1
3     1
4     2

In [2]:
print(cars.tail())

             Model   mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  \
27    Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.9   1   1     5
28  Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.5   0   1     5
29    Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.5   0   1     5
30   Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.6   0   1     5
31      Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.6   1   1     4

    carb
27     2
28     4
29     6
30     8
31     2

# Problem 2

In [3]:
import pandas as pd

cars = pd.read_csv("cars.csv")

odd = cars[cars.index%2 == 1].head(5)
print(odd)

            Model   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
1   Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
3  Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
5         Valiant  18.1    6  225.0  105  2.76  3.460  20.22   1   0     3
7       Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0     4
9        Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0     4

   carb
1     4
3     1
5     1
7     2
9     4

In [4]:
print(cars.loc[cars['Model']=='Mazda RX4'])

       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

In [5]:
print(cars.loc[(cars['Model']=='Camaro Z28'), ['Model','cyl']])

         Model  cyl
23  Camaro Z28    8

In [6]:
print(cars.loc[cars['Model'].isin(['Mazda RX4 Wag','Ford Pantera L', 'Honda Civic']), ['Model', 'cyl','gear']])

             Model  cyl  gear
1    Mazda RX4 Wag    6     4
18     Honda Civic    4     4
28  Ford Pantera L    8     5